Repository cyberbit/telem, pull requests merged in 2024-06, with the labels that each got.

#48 Feature/cache
  .github/workflows/build.yml
  .vscode/settings.json
  .vscode/tasks.json
  docs/reference/Backplane.md
  docs/reference/InputAdapter.md
  docs/reference/OutputAdapter.md
  docs/reference/output/ChartLine.md
  docs/reference/output/basalt/Graph.md
  init_devcontainer.sh
  src/telem/init.lua
  src/telem/lib/Backplane.lua
  src/telem/lib/OutputAdapter.lua
  src/telem/lib/output/basalt/GraphOutputAdapter.lua
  src/telem/lib/output/plotter/ChartLineOutputAdapter.lua
Labels: enhancement, sw: Adapter

#19 Add more mekanism input adapters
  src/telem/lib/input.lua
  src/telem/lib/input/mekanism/BioGeneratorInputAdapter.lua
  src/telem/lib/input/mekanism/ChemicalTankInputAdapter.lua
  src/telem/lib/input/mekanism/DigitalMinerInputAdapter.lua
  src/telem/lib/input/mekanism/DynamicTankInputAdapter.lua
  src/telem/lib/input/mekanism/GasGeneratorInputAdapter.lua
  src/telem/lib/input/mekanism/IsotopicCentrifugeInputAdapter.lua
  src/telem/lib/input/mekanism/LaserAmplifierInputAdapter.lua
  src/telem/lib/input/mekanism/LaserInputAdapter.lua
  src/telem/lib/input/mekanism/MechanicalPipeInputAdapter.lua
  src/telem/lib/input/mekanism/PressurizedTubeInputAdapter.lua
  src/telem/lib/input/mekanism/QuantumEntangloporterInputAdapter.lua
  src/telem/lib/input/mekanism/UniversalCableInputAdapter.lua
Labels: enhancement, mod: Mekanism, sw: Adapter

#54 Add Advanced Peripherals Energy Detector InputAdapter
  src/telem/lib/input.lua
  src/telem/lib/input/advancedPeripherals/BaseAdvancedPeripheralsInputAdapter.lua
  src/telem/lib/input/advancedPeripherals/EnergyDetectorInputAdapter.lua
Labels: enhancement, sw: Adapter

#55 AP Energy Detector
  .vscode/extensions.json
  docs/.vitepress/config.mts
  docs/reference/input/advanced-peripherals/EnergyDetector.md
  init_devcontainer.sh
  src/telem/init.lua
  src/telem/lib/input.lua
  src/telem/lib/input/advancedPeripherals/BaseAdvancedPeripheralsInputAdapter.lua
  src/telem/lib/input/advancedPeripherals/EnergyDetectorInputAdapter.lua
Labels: enhancement, sw: Adapter, mod: Advanced Peripherals
